.jumbotron.search-bar {
  height: calc(100vh - 50px);
  padding-top: 220px;
  padding-bottom: 120px;
  margin-bottom: 0;
  box-sizing: padding-box;

  h2 { margin-bottom: 30px; }
  input[type="text"] {
    width: 100%;
    font-size: 24px;
    padding: 22px 10px;
  }
}
